.root {
	-fx-background-color: #778899;
	-fx-font-weight: bold;
	-fx-color:#79bbff;
	-fx-font-size:13px;
}

.titled-pane > *.content {
	 -fx-background-color: transparent;
	-fx-background-color: #778899;
	-fx-font-weight: bold;
}

.titled-pane  {
	-fx-font-weight: bold;
}

#pane {
	-fx-background-color: #778899;
	-fx-font-weight: bold;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
	-fx-background-color: #778899;
	-fx-font-weight: bold;
	-fx-color:#79bbff;
}

.button {
	-fx-box-shadow: 2px 2px 0px 0px #1564ad; 
	-fx-background-color:#3c3c3c;
	-fx-background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	-fx-background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	-fx-border-radius:5px; 
	-fx-border:1px solid #337bc4; 
	-fx-display:inline-block;
	-fx-cursor:pointer;
	-fx-text-fill: #79bbff;
	-fx-font-family:Arial;
	-fx-font-size:13px;
	-fx-font-weight: bold;
	-fx-text-decoration:none;
	-fx-text-shadow:0px 1px 0px #528ecc;
} 

.button:hover{
	-fx-background-color:#378de5;
}

.button:active {

}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-font-weight: bold;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #79bbff;
}